h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

.code-block {
  border: solid 1px #A2A2A2;
  padding: 15px;
}

img {
  display: flex;
  height: auto;
  margin: auto;
}

img[alt="logo-vue"], img[alt="logo-lizmap"] {
  max-width: 150px !important;
}

img[alt="logo-leaflet"], img[alt="logo-qt"] {
  max-width 250px !important;
}

img[alt*="modal"] {
  max-width 500px !important
}

